@font-face {
  font-family: "opensans-regular-webfont";
  src: url(../fonts/opensans-regular-webfont.ttf);
}
.navbar {
  width: 100%;
  padding: 25px 0 25px 0;
  background-color: rgb(0, 0, 0) !important;
}
.navbar h1 {
  color: #fff;
  font-family: "opensans-regular-webfont";
  text-align: center;
}
.navbar .navbar-toggler {
  background-color: #fff !important;
}
.navbar .navbar-nav .nav-item a {
  color: #fff;
}
.navbar .navbar-nav .nav-item a:hover {
  background-color: #f05f40;
  color: #fff;
}
.navbar .navbar-collapse {
  color: #fff !important;
  justify-content: center;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

header .bg {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/fondo-bienvenido-grande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
}
header .bg .jumbotron {
  display: flex;
  background: none;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding-top: 20%;
}
header .bg .jumbotron .btn {
  background-color: #f05f40;
  color: #fff;
}

.first-section article {
  padding: 25px;
  background-color: #f05f40;
  width: 100vw;
  text-align: center;
  font-size: 1.2em;
  color: white;
}
.first-section article h2 {
  font-size: 2.5em;
  margin: 25px;
}
.first-section article img {
  margin: auto;
  width: 200px;
  margin: 25px;
}
.first-section article .textcontainer {
  width: 60%;
  text-align: center;
  margin: auto;
}
.first-section article .btn {
  margin: 20px;
  background-color: #FFF;
}

.second-section {
  padding: 85px 0 85px 0;
}
.second-section article h2 {
  margin: 75px;
  margin-top: 0;
  text-align: center;
  color: #000;
  font-size: 2.5em;
}
.second-section article .classcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.second-section article .classcontainer .cartcontainer {
  width: 350px;
}
.second-section article .classcontainer .cartcontainer i {
  text-align: center;
  display: block;
  font-size: 80px;
  color: #f05f40;
}
.second-section article .classcontainer .cartcontainer .textcontainer {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-size: 1.3em;
  color: #000;
}

.third-section {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: rgb(83, 83, 83);
}
.third-section h2 {
  text-align: center;
  color: white;
  margin: 25px 0 50px 0;
  font-size: 2.5em;
}
.third-section .images {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.third-section .images .imgcontainer {
  overflow: hidden;
  width: 400px;
}
.third-section .images .imgcontainer img {
  width: 400px;
  transition: 0.3s;
}
.third-section .images .imgcontainer:hover > img {
  -webkit-transform:scale(1.2);transform: scale(1.2);
  transition: all 0.3s;
}

footer {
  text-align: center;
  padding: 40px 0 40px 0;
  background-color: rgb(71, 71, 71);
}
footer h3 {
  font-size: 1em;
  color: #fff;
  margin: 0;
}

@media (max-width: 1000px) {
  header .bg .jumbotron {
    padding-top: 50%;
  }
  header .bg .jumbotron h2 {
    font-size: 1.5em;
  }
  header .bg .jumbotron p {
    font-size: 2.5em;
  }
  .first-section article .textcontainer {
    width: 75%;
  }
}
@media (max-width: 680px) {
  header .bg {
    overflow: hidden;
    width: 100vw;
    background-image: url(../images/fondo-bienvenidos.jpg);
    background-position: center;
  }
  header .bg .jumbotron h2 {
    font-size: 1.4em;
  }
  header .bg .jumbotron p {
    font-size: 2.4em;
  }
  .navbar h1 {
    font-size: 1.8em;
  }
  .first-section article .textcontainer {
    width: 100%;
  }
}
@media (max-width: 600px) {
  header .bg .jumbotron {
    padding-top: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
