@font-face {
    font-family: 'opensans-regular-webfont';
    src: url(../fonts/opensans-regular-webfont.ttf);
}
$color-principal: #f05f40;

.navbar{
    padding: 15
    px;
    position: fixed;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.733);
    align-items: center;
    flex-wrap: wrap;
    h1{
        color: #ffff; 
        font-family: "opensans-regular-webfont" !important;
        font-weight: bolder;
        margin: 20px;
    }
    .nav-pills{
        .nav-item{
            text-transform: uppercase;
            a{
                color: #ffff;
                font-size: 1.2rem;
            }
        }
        .nav-item:hover{
            background-color: $color-principal;

        }
    }
}

header{
    .bg{
        width: 100vw;
        height: 100vh;
        background-image: url(/Sandbox/images/fondo-bienvenido-grande.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0;
        .jumbotron{
            display: flex;
            background: none;
            align-items: center;
            flex-direction: column;
            color: #fff;
            padding-top: 20%;
            .btn{
                background-color: $color-principal;
                color: #fff;
            }

        }
    }
    
}
.first-section{
    article{
        padding: 25px;
        background-color: $color-principal;
        width: 100vw;
        text-align: center;
        font-size: 1.2em;
        h2{
            font-size: 2.5em;
            margin: 25px;
        }
        img{
            margin: auto;
            width: 200px;
            margin: 25px;
        }
        color: #ffff;
        .textcontainer{
            width: 50%;
            text-align: center;
            margin: auto;
        }
        .btn{
            margin: 20px;
        }
    }
}
.second-section{
    padding: 85px 0 85px 0;
    article{
        h2{
            margin: 75px;
            margin-top: 0;
            text-align: center;
            color: #000;
            font-size: 2.5em;
        }
        .classcontainer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            flex-wrap: wrap;
            .cartcontainer{
                width: 350px;
                i{
                    text-align: center;
                    display: block;
                    font-size: 80px;
                    color: $color-principal;
                }
                .textcontainer{
                    text-align: center;
                    margin: auto;
                    margin-top: 30px;
                    font-size: 1.3em;
                    color: #000;
                }
            }
        }
    }
}
.third-section{
    h2{
        text-align: center;
        color: #ffff;
        margin: 25px 0 50px 0;
        font-size: 2.5em;
    }
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(83, 83, 83);
    .images{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        img{
            width: 400px;
        }
    }
}
footer{
    text-align: center;
    padding: 50px;
    background-color: rgb(71, 71, 71);
    h3{
        font-size: 1em;
        color: #fff;
    }
}


@media (max-width: 1000px){

}